body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.menu {
  background-color: rgb(249, 234, 220);
  padding: 10px;
}

.board {
  display: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  margin: 10px;
}

.fear {
  display: flex;
  flex-direction: column;
  margin: 10px;

}

img {
  width: 30px;
}

h1 {
  text-align: center;
  color: rgb(34, 29, 27);
}

.change {
  display: flex;
  justify-content: space-around;
}

.level {
  padding: 30px;
  display: flex;
  justify-content: center;

}

.lite {
  width: 120px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #1a0606;
  border-radius: 12px;

}

.hard {
  border-radius: 12px;
  width: 120px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #1a0606;
}

.bottom {
  display: flex;
  justify-content: center;
}

.start {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #1a0606;
  border-radius: 12px;

}

#game-board {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
}

.icon {
  display: none;
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  transition: 2s;
}

.result1 {
  display: none;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ea7474;
  border-radius: 5px;

  button {
    display: none;

    background-color: #ea7474;
    border-radius: 5px;
  }

}

.result2 {
  display: none;
  /*display: flex;*/
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ea7474;
  border-radius: 5px;

  button {

    background-color: #ea7474;
    border-radius: 5px;
  }
}

.result3 {
  display: none;
  /*display: flex;*/
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ea7474;
  border-radius: 5px;

  button {

    background-color: #ea7474;
    border-radius: 5px;
  }
}


#result {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#timer-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

#timer,
#score {
  margin-bottom: 10px;
}

#difficulty-select {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

#difficulty-select button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.icon.hide-icon {
  animation: hideAnimation 0.5s linear;
  animation-fill-mode: forwards;
}

.icon::after {
  content: attr(data-after);
  position: absolute;
  top: -30px;
  color: black;
  font-size: 24px;
  width: 100px;
  background-color: red;
  text-align: center;
}

@keyframes hideAnimation {
  0% {
    transform: rotate(0) scale(1);
  }

  100% {
    transform: rotate(180deg) scale(0);
  }
}

@media (max-width: 767px) {
  .top {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .change {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}