@import url('https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: 'Press Start 2P';
}

.menu {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(71, 69, 69, 0.6);
}

.board {
  display: none;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: left;
  margin: 10px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 5px;
}

.fear {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 4px;


}

.img {
  display: flex;
  align-items: center;

}

img {
  width: 30px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  color: rgb(34, 29, 27);
}

.change {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
}

.level {
  padding: 30px;
  display: flex;
  justify-content: center;

}

.lite {
  width: 120px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(127, 173, 232);
  border: 2px solid #1a0606;
  border-radius: 5px;

}

.hard {
  border-radius: 5px;
  width: 120px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(127, 173, 232);
  border: 2px solid #1a0606;
}

.bottom {
  display: flex;
  justify-content: center;
}

.start {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #1a0606;
  border-radius: 12px;

}

.board {
  height: 100vh;
  width: 100vw;
}

.back {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #1a0606;
  border-radius: 12px;
}

#game-board {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  background: url('./img/childrens_room1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.icon {
  position: absolute;
  width: 124px;
  height: 124px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 50%;
  transition: 2s;
  background-size: 100% 100%;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}


#result {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

#result button {
  padding: 10px 20px;
  border: none;
  background-color: darkgreen;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin-top: 20px;

}

#timer-container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  background-color: white;
  color: black;
  padding: 15px 15px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.6);
}

#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  z-index: 100;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

#timer,
#score {
  margin-bottom: 10px;
}

#difficulty-select {
  display: none;
  text-align: center;
  margin-bottom: 20px;
}

#difficulty-select button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.icon.hide-icon {
  animation: hideAnimation 1s linear;
  animation-fill-mode: forwards;
}

.icon::after {
  content: attr(data-after);
  position: absolute;
  top: -30px;
  color: black;
  font-size: 34px;
  background-color: #3498db;

  text-align: center;

}

@keyframes hideAnimation {
  0% {
    transform: rotate(0) scale(1);
  }

  100% {
    transform: rotate(180deg) scale(0);
  }
}

@media (max-width: 767px) {
  .top {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .change {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.blured {
  filter: blur(4px);
  transition: 2s ease;
}